torch==2.6.0+cpu
torchaudio==2.6.0+cpu
torchvision==0.21.0+cpu
tensorflow-cpu==2.17.0
transformers==4.47.1
Flask
flask-cors
pandas
pytest
flask-swagger-ui
flasgger
sentencepiece
SpeechRecognition
openai-whisper
--extra-index-url https://download.pytorch.org/whl/cpu
